/* Dark Mode */
.faq.dark-item {
    background-color: #ffffff;
    margin-top: 50px;
    color: #000000;
   
}

.faq.dark-item h1 {
    font-size: 2rem;
    color: #000000;
    text-align: center;
    
}

.faq-item.dark-item {
    border: 1px solid #555;
    
    border-radius: 5px;
    margin-bottom: 10px;
}

.faq-question.dark-text {
    cursor: pointer;
    padding: 10px;
}

.faq-answer.dark-text {
    padding: 10px;
}

.faq.light-item {
    background-color: #000000;
    margin-top: 50px;
    color: #ffffff;
   
}

.faq.light-item h1 {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
   
}

.faq-item.light-item {
    border: 1px solid #ccc;
    /* Light border */
    border-radius: 5px;
    margin-bottom: 10px;
}

.faq-question.light-text {
    cursor: pointer;
    padding: 10px;
}

.faq-answer.light-text {
    padding: 10px;
}