.faq-item {
    margin-bottom: 10px;
}

.question {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.arrow {
    margin-left: auto;
    transition: transform 0.3s ease;
}

.up {
    transform: rotate(180deg);
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.open {
    max-height: 1000px;
    /* Set a sufficiently large value */
}