
.dark{
    background-color: #343a40;
    

}
.container {
    margin: auto;
    padding: 20px;
}

.input-container {
   
    margin: auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.46);
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.btn {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: #0056b3;
}

.summary-container {
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.511);
    
    transition: all 0.3s ease;
}

.summary-container:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.summary-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #343a40;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.preview-text {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: #495057;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.preview-text:focus {
    border-color: #495057;
    box-shadow: 0 0 0 0.2rem rgba(73, 80, 87, 0.25);
}