
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Signika:wght@300..700&display=swap');

nav{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.navbar-container.light {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(73, 73, 73, 0.1);
}


.navbar-container.dark {
    background-color: #333;
    color: #1c3feb;
    padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 4px 4px rgba(197, 188, 188, 0.1);
}


.success-message {
    color: #008000;
    
    background-color: #7fffd4;
    
    position: relative;
    top: 0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: inherit;
    text-decoration: none;
}

/* Navbar Toggle Button */
.navbar-toggle {
    display: none;
    cursor: pointer;
}

/* Navbar Toggle Icon */
.navbar-toggle-icon {
    height: 24px;
    width: 24px;
    fill: currentColor;
}

/* Navbar Menu */
.navbar-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
}

.navbar-menu.open {
    display: flex;
}

/* Navbar Link */
.navbar-link {
    font-size: 16px;
   
    text-decoration: none;
}

/* Toggle Dark Mode */
.toggle-dark-mode {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 20px;
}

.toggle-track {
    width: 32px;
    height: 16px;
    background-color: #ccc;
    border-radius: 8px;
    position: relative;
}

.toggle-track:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s;
}

.toggle-dark-mode input[type="checkbox"]:checked+.toggle-track:after {
    transform: translateX(16px);
}

.toggle-label .light {
    margin-left: 8px;
    font-size: 14px;
    color: #000000;
}
.toggle-label .dark {
    margin-left: 8px;
    font-size: 14px;
    color: #ffefef;
}